/* 
CREDIT:
https://codepen.io/AllThingsSmitty/pen/MyqmdM
*/

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
table.menu {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table.menu caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table.menu tr {
  /*background: #f8f8f8;*/
  border: 1px solid #ddd;
  padding: .35em;
}
table.menu th,
table.menu td {
  padding: .625em;
  text-align: center;
}
table.menu th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table.menu {
    border: 0;
  }
  table.menu caption {
    font-size: 1.3em;
  }
  table.menu thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table.menu tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table.menu td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table.menu td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table.menu td:last-child {
    border-bottom: 0;
  }
}