.row-padded{
  padding:0 30px;
}

.top-buffer {
	margin-top:10px;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.filter-lbl {
	float: left;
	max-width: 90%;
	margin-bottom:0;
}

body {  padding-bottom: 60px; } 
@media (max-width: 600px) { body { padding-bottom: 0;  } }